<h1 class="text-center">🧑 Customer Details</h1>

<form [formGroup]="customerDetailsForm" class="container text-center">
    <div class="row">
        <label for="" class="col text-center bg bg-dark bg-gradient text-info">First Name:</label>
        <input formControlName="firstName" type="text" class="details-input col text-center bg bg-info text-dark">
    </div>
    <div class="row">
        <label for="" class="col text-center bg bg-dark bg-gradient text-info">Last Name:</label>
        <input formControlName="lastName" type="text" class="details-input col text-center bg bg-info text-dark">
    </div>
    <div class="row">
        <label for="" class="col text-center bg bg-dark bg-gradient text-info">Email:</label>
        <input formControlName="email" type="email" class="details-input col text-center bg bg-info text-dark">
    </div>
    <div class="row">
        <label for="" class="col text-center bg bg-dark bg-gradient text-info">Phone:</label>
        <input formControlName="phone" type="text" class="details-input col text-center bg bg-info text-dark">
    </div>
    <div class="row">
        <label for="" class="col text-center bg bg-dark bg-gradient text-info">Address:</label>
        <input formControlName="address" type="text" class="details-input col text-center bg bg-info text-dark">
    </div>
</form>